<po-table
  [p-hide-table-search]="false"
  [p-hide-columns-manager]="true"
  [p-actions-right]="true"
  [p-striped]="true"
  [p-filter-type]="getFilterType()"
  [p-items]="customers"
  [p-actions]="actions"
  [p-columns]="columns">

    <ng-template p-table-cell-template let-column="column" let-row="row">
      <p *ngIf="column.property === 'cpf_cnpj'">{{ formatCpfCnpj(row[column.property]) }}</p>
      <p *ngIf="column.property === 'contract'">{{ getStatusLabel(row.contracts) }}</p>
      <p *ngIf="column.property === 'contractNumber'">{{ getContractNumber(row.contracts) }}</p>
    </ng-template>

</po-table>
