<po-modal #modal p-title="{{ title }}">
  <form>
    <po-input p-label="Número do Contrato" (ngModelChange)="onInputChange()" [(ngModel)]="contract.number" name="contractNumber"></po-input>
    <po-datepicker
      p-label="Data de Aquisição"
      [(ngModel)]="contract.acquisitionDate"
      name="acquisitionDate"
      (ngModelChange)="onInputChange()">
    </po-datepicker>

    <po-select
      p-label="Status"
      [p-options]="statusOptions"
      name="status"
      [ngModel]="contract.status"
      (p-change)="onChangeStatus($event)">
    </po-select>

    <po-number
      p-label="Valor"
      [(ngModel)]="contract.value"
      name="value"
      p-placeholder="Digite um número"
      (ngModelChange)="onInputChange()">
    </po-number>
  </form>
  <po-modal-footer>
    <po-button [p-disabled]="saveDisabled" [p-label]="contract.id ? 'Alterar' : 'Salvar'" p-kind="primary" (p-click)="onSave()"></po-button>
    <po-button p-label="Fechar" (p-click)="close()"></po-button>
    <ng-container *ngIf="!!contract.id">
      <po-button [p-disabled]="hasContractDisabled()" p-label="Cancelar contrato" p-kind="primary" p-danger p-type="danger" (p-click)="onCancel()"></po-button>
    </ng-container>
  </po-modal-footer>
</po-modal>
