<div class="po-container">
  <div class="po-row">
    <div class="po-md-12">
      <po-input p-label="Filtrar Clientes" [(ngModel)]="filterTerm" placeholder="Nome ou CPF"></po-input>
      <po-combo p-label="Status" (onChange)="status" [p-options]="statusComboOptions"></po-combo>
    </div>
  </div>
  <div class="po-row">
    <div class="po-md-12">
      <po-button p-label="Adicionar Cliente" p-type="primary" (p-click)="openAddCustomerModal()"></po-button>
    </div>
  </div>

  <div class="po-row">
    <div class="po-md-12">
      <po-table
        [p-hide-columns-manager]="true"
        [p-items]="filteredCustomers"
        [p-columns]="columns">

        <ng-template p-table-cell-template let-column="column" let-row="row">
          <p *ngIf="column.property === 'cpf_cnpj'">{{ formatCpfCnpj(row[column.property]) }}</p>
          <p *ngIf="column.property === 'actions'">
            <po-button p-icon="po-icon-delete" p-small p-type="danger" (p-click)="openConfirmDeleteModal(row)"></po-button>
          </p>
        </ng-template>

      </po-table>
    </div>
  </div>



  <po-modal #addCustomerModal p-title="Adicionar Cliente" [p-primary-action]="primaryModalAction" [p-secondary-action]="cancelModalAction">
    <form>
      <po-input p-label="Nome / Razão Social" [(ngModel)]="newCustomer.name" name="name"></po-input>
      <po-input p-label="CPF/CNPJ" [(ngModel)]="newCustomer.cpf_cnpj" name="cpf_cnpj"></po-input>
      <po-input p-label="Telefone" [(ngModel)]="newCustomer.phone" name="phone"></po-input>
    </form>
  </po-modal>


</div>

<app-confirm-modal
  #confirmDeleteModal
  title="Confirmar Exclusão"
  [message]="'Tem certeza que deseja excluir esse cliente?'"
  confirmLabel="Excluir"
  cancelLabel="Cancelar"
  [danger]="true">
</app-confirm-modal>




