<div class="customer-list-container">
  <app-customer-filter (filterChange)="onFilterChange($event)"></app-customer-filter>
  <po-button p-label="Adicionar Cliente" p-type="primary" (p-click)="openAddCustomerModal()"></po-button>
  <app-customer-table [customers]="filteredCustomers" (edit)="openEditCustomerModal($event)" (addContract)="openAddContractModal($event)"></app-customer-table>

  <app-customer-modal
    #customerModal
    [customer]="selectedCustomer"
    (save)="saveCustomer()">
  </app-customer-modal>

  <app-customer-contract-modal
    #contractModal
    [customer]="selectedCustomer"
    (saveContract)="saveContract($event)"
    (cancelContract)="cancelContract($event)">
  </app-customer-contract-modal>

  <app-confirm-modal #confirmDeleteModal></app-confirm-modal>
</div>
