<po-container>
  <po-loading-overlay [hidden]="!isLoading"></po-loading-overlay>
  <po-container class="po-row">
    <div class="po-md-8">
      <po-button p-label="Adicionar Cliente" p-type="primary" (p-click)="openAddCustomerModal()"></po-button>
    </div>
    <div class="po-md-4 po-offset-4">
      <po-button-group class="po-md-12" p-toggle="single" [p-buttons]="buttonsFilter"> </po-button-group>
    </div>
  </po-container>
  <app-customer-table [tableLoading]="isLoading" [customers]="filteredCustomers" (edit)="openEditCustomerModal($event)" (addContract)="openAddContractModal($event)"></app-customer-table>

  <app-customer-modal
    #customerModal
    [customer]="selectedCustomer"
    (save)="saveCustomer()">
  </app-customer-modal>

  <app-customer-contract-modal
    #contractModal
    [customer]="selectedCustomer"
    (saveContract)="saveContract($event)"
    (cancelContract)="cancelContract($event)">
  </app-customer-contract-modal>

  <app-confirm-modal #confirmDeleteModal></app-confirm-modal>
</po-container>
